<% if gun.photo.attached? %>
  <%= image_tag gun.photo, class: 'mx-auto' %>
<% end %>

<div class="px-4 sm:px-6 lg:px-8 w-full">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Make</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Model</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ammunition Type</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Serial Number</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Production Year</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Purchase Date</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Purchase Price</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Purchase Location</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.name %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.make %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.model %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.ammunition_type %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.serial_number %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.production_year %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.purchase_date %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= number_to_currency(gun.purchase_price) %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.purchase_location %></td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='mt-7'>
  <h2 class='text-xl font-bold ml-5'>Specs</h2>
</div>

<div class="px-4 sm:px-6 lg:px-8 w-full">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Barrel Length</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Barrel Type</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Rate of Twist</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Overall Length</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Weight</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Receiver Finish</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Rear Sight</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Front Sight</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Scopeability</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Scope Mount Type</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Stock Material</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Buttplate Pad</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Lenght of Pull</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Safety</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Best Uses</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" style='width: 3%'>Notes</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.barrel_length %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.barrel_type %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.rate_of_twist %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.overall_length %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.weight %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.receiver_finish %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.rear_sight %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.front_sight %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.scopeability %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.scope_mount_type %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.stock_material %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.buttplate_pad %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.length_of_pull %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.safety %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.best_uses %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.spec.notes %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
