<% if gun.photo.attached? %>
  <%= image_tag gun.photo, class: 'mx-auto' %>
<% end %>

<div class="px-4 sm:px-6 lg:px-8 w-full">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Manufacturer</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Model</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Type</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Caliber/Guage</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Serial Number</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Production Year</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Purchase Date</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Purchase Price</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Purchase Location</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.name %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.manufacturer %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.model %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.gun_type %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><span class='bg-red-500 text-white px-2 py-1'><%= gun.caliber_guage %></span></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.serial_number %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.production_year %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.purchase_date %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= number_to_currency(gun.purchase_price) %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.purchase_location %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<% if gun.spec.present? %>
  <div class='mt-7 ml-1'>
    <h2 class='text-xl font-bold ml-10'>Specs</h2>
    <hr class='m-5 text-gray-500 md:w-[96%]'>
  </div>

  <div class='columns-1 md:columns-2 ml-9 w-10/12 md:w-11/12 md:ml-12'>
    <div class='w-full'>
      <table class="w-full">
        <tbody class="bg-white">
          <tr class='bg-gray-50 h-14 max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Barrel Type</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.barrel_type %></td>
          </tr>
          <tr class="h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Best Uses</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.best_uses %></td>
          </tr>
          <tr class='bg-gray-50 h-14 max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Buttplate Pad</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.buttplate_pad %></td>
          </tr>
          <tr class='h-14 max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Capacity</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.capacity %></td>
          </tr>
          <tr class='bg-gray-50 h-14 max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Front Sight</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.front_sight %></td>
          </tr>
          <tr class="h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Gun Barrel</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.barrel_length %></td>
          </tr>
          <tr class="bg-gray-50 h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Length of Pull</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.length_of_pull %></td>
          </tr>
          <tr class='h-14 max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Overall Length</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.overall_length %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='w-full'>
      <table class="w-full">
        <tbody class="bg-white">
          <tr class="bg-gray-50 h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Rate of Twist</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.rate_of_twist %></td>
          </tr>
          <tr class="h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Rear Sight</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.rear_sight %></td>
          </tr>
          <tr class='bg-gray-50 h-14 max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Receiver Finish</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.receiver_finish %></td>
          </tr>
          <tr class='h-14 12max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Safety</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.safety %></td>
          </tr>
          <tr class='bg-gray-50 h-14 max-h-14'>
            <td class='text-gray-900 font-bold pl-3'>Scope Mount Type</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.scope_mount_type %></td>
          </tr>
          <tr class="h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Scopeability</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.scopeability %></td>
          </tr>
          <tr class="bg-gray-50 h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Stock Material</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.stock_material %></td>
          </tr>
          <tr class="h-14 max-h-14">
            <td class='text-gray-900 font-bold pl-3'>Weight</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.weight %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <% if gun.spec.notes.present? %>
    <div class='columns-1 ml-9 w-10/12 md:w-11/12 md:ml-12 overflow-x-auto'>
      <div class='w-full'>
        <table class="w-full">
          <tbody class="bg-white">
            <tr class="bg-gray-50">
              <td class='text-gray-900 font-bold pl-3'>Notes</td>
              <td class="px-3 py-4 text-sm text-gray-500" align='right'><%= gun.spec.notes %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
