<div class="px-4 sm:px-6 lg:px-8 w-full">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900"></h1>
      <p class="mt-2 text-sm text-gray-700"></p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= button_to 'Add gun', new_gun_path, method: :get, class: 'block rounded-md bg-gray-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-gray-300 hover:text-gray-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600' %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Make</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Model</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ammunition Type</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% current_user.guns.each do |gun| %>
              <tr class="even:bg-gray-50">
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 underline"><%= link_to gun.name, gun %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.make %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.model %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= gun.ammunition_type %></td>
                <% if gun.spec.present? %>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900 underline"><%= link_to 'Edit Specs', edit_gun_spec_path(gun, gun.spec) %><span class="sr-only">, <%= gun.make %></span></a>
                  </td>
                <% else %>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900 underline"><%= link_to 'Create Specs', new_gun_spec_path(gun) %><span class="sr-only">, <%= gun.make %></span></a>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

