
<div class="w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class='mb-5'>
      <%= link_to "Back to all guns", guns_path, class: "mr-2 ml-7 underline text-sm" %>
    </div>

    <%= render @gun %>

    <div class='mt-3 ml-9'>
      <%= link_to "Edit this gun", edit_gun_path(@gun), class: "mr-2 underline text-sm" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this gun", gun_path(@gun), method: :delete, class: "text-red-500 text-sm underline" %>
      </div>
    </div>
  </div>
</div>
